#side-nav {
  padding: 2%;
  box-sizing: border-box;
  width: 25%;
  height: 100vh;
  overflow-y: auto;
  background-color: #045653;
  position: fixed;
  transition: all 0.5s;
}

#side-nav button {
  display: block;
  padding: 3%;
  width: 100%;
  margin: auto;
  margin-bottom: 4%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
  background-color: #04A353;
}

.sign-out-button {
  position: absolute;
  max-width: 80%;
  bottom: 7%;
}

#side-nav.active {
  margin-left: -25%;
}

#main {
  margin-left: 25%;
  background-image: url('../../../assets/logo/CRAVE-logo-no-bg.png');
  background-position: center;
  min-height: 100%;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

#main.active {
  margin-left: 0;
}

.card {
  padding: 5%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 150%;
}

