form input {
  padding: 1.5%;
}

select {
  padding: 1.5%;
}

.card {
  margin: 2%;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);
}

form button {
  width: 100%;
  background-color: #04A353;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 15%;
}
