<form>
  <h2>New Enrollment</h2>
  <div class="grid">
    <input placeholder="First Name" type="text" class="col-6 mg-b-2 mg-2">
    <input placeholder="Last Name" type="text" class="col-6 mg-b-2 mg-2">
    <select class="col-6 mg-2" placeholder="Gender">
      <option>Male</option>
      <option>Female</option>
    </select>
    <input class="col-6 mg-b-2 mg-2" placeholder="Occupation" type="text">

    <!-- Residential Address -->
    <div class="col-12">
      <h4>Residential Address</h4>
    </div>
    <input class="col-6 mg-b-2 mg-2" placeholder="Address" type="text">
    <input class="col-6 mg-b-2 mg-2" placeholder="Occupation" type="text">
    <input class="col-6 mg-b-2 mg-2" placeholder="Occupation" type="text">
    <input class="col-6 mg-b-2 mg-2" placeholder="Occupation" type="text">
    <input class="col-6 mg-b-2 mg-2" placeholder="Occupation" type="text">
    <input class="col-6 mg-b-2 mg-2" placeholder="Occupation" type="text">
    <input class="col-6 mg-b-2 mg-2" placeholder="Occupation" type="text">

  </div>
</form>
