
<div class="grid">
  <div *ngIf="allEnrolments" class="col-4 card">
    <h2>
      {{totalEnrolments}} Enrolments <span class="mdi mdi-menu float-right"></span>
    </h2>
  </div>

  <div *ngIf="allEnumerators" class="col-4 card">
    <h2>
      {{totalEnumerators}} Enumerators <span class="mdi mdi-account-multiple float-right"></span>
    </h2>
  </div>

  <div class="col-4 card">
    <h2>
      Clients <span class="mdi mdi-account-plus float-right"></span>
    </h2>
  </div>
</div>

<div class="grid mg-t-3 mg-3">
  <app-create-client class="col-5"></app-create-client>
</div>
