.centered {
  position: fixed;
  left: 50%;
  bottom: 0;
  margin: 2%;
  transform: translate(-50%, 0);
  background-color: #80797B;
  width: 60%;
  color: black;
  font-size: small;
}

button {
  background-color: transparent;
  color: red;
}
