<form>
  <div style="padding:auto; padding-top: 5%;" class="mg-2">
    <div style="width: 50vh;" class="pad-4 mg-auto shd-10 card rad-5 grid">
      <div class="col-12 text-center">
        <img height="250" width="250" src="../../../assets/logo/CRAVE-logo-no-bg.png" alt="CRAVE-logo-transparent-bg">
      </div>
      <input class="col-12" type="text" placeholder="First Name">
      <input class="col-12" type="text" placeholder="Last Name">
      <input class="col-12" type="text" placeholder="Email Address">
      <input class="col-12" type="text" placeholder="Primary Phone">
      <input class="col-12" type="text" placeholder="Secondary Phone">
      <button class="col-12 mg-t-4 pad-3" type="submit">Create Enumerator</button>
    </div>
  </div>
</form>
